
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}



mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* Basic */



	input, textarea, select {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 19pt;
		font-weight: 300;
		line-height: 1.75em;
		color: #888;
	}
    header {
		margin: 0 0 2em 0;
	}

		header > p {
			margin: 1em 0 0 0;
		}

	footer {
		margin: 2em 0 0 0;
	}

	.container {
		margin: 0 auto;
		max-width: 100%;
		width: 1400px;
	}

		@media screen and (min-width: 961px) and (max-width: 1880px) {

			.container {
				width: 1200px;
			}

		}

		@media screen and (min-width: 961px) and (max-width: 1620px) {

			.container {
				width: 960px;
			}

		}

		@media screen and (min-width: 961px) and (max-width: 1320px) {

			.container {
				width: 100%;
			}

		}

		@media screen and (max-width: 960px) {

			.container {
				width: 100%;
			}

		}

		@media screen and (max-width: 736px) {

			.container {
				width: 100%;
			}

		}
        #header {
            display: -moz-flex;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            -moz-flex-direction: column;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -moz-justify-content: space-between;
            -webkit-justify-content: space-between;
            -ms-justify-content: space-between;
            justify-content: space-between;
            background: #222629 url("images/overlay.png");
            box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.1);
            color: #fff;
            height: 100%;
            left: 0;
            overflow-y: auto;
            position: fixed;
            text-align: right;
            top: 0;
            width: 375px;
        }
        #footer {
            margin-left: 375px;
            text-align: center;
            background-color: #dce3e2;
            padding: 3em 0 4em 0;
            box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
            font-size: 0.8em;
        }
    
            #footer .copyright {
                cursor: default;
                margin: 0;
            }
    
                #footer .copyright li {
                    display: inline-block;
                    line-height: 1em;
                    border-left: solid 1px rgba(128, 128, 128, 0.35);
                    padding: 0 0 0 0.5em;
                    margin: 0 0 0 0.5em;
                }
    
                    #footer .copyright li:first-child {
                        border-left: 0;
                        padding-left: 0;
                        margin-left: 0;
                    }
    
    /* Main */
    
        #main {
            margin-left: 375px;
        }
    
            #main > section {
                margin: 0;
                overflow: hidden;
                padding: 4em 0;
                box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
                text-align: center;
                background-image: url("images/overlay.png");
            }
    
                #main > section.dark {
                    color: #ddd;
                    color: rgba(255, 255, 255, 0.75);
                }
    
                    #main > section.dark h2, #main > section.dark h3, #main > section.dark h4, #main > section.dark h5, #main > section.dark h6 {
                        color: inherit;
                    }
    
                    #main > section.dark strong {
                        color: #fff;
                        border-color: inherit;
                    }
    
                    #main > section.dark a {
                        color: #fff;
                        border-color: inherit;
                    }
    
                        #main > section.dark a:hover {
                            border-bottom-color: rgba(255, 255, 255, 0);
                        }
    
                #main > section.cover {
                    padding: 10em 0;
                    background-size: cover;
                    background-position: center center;
                }
    
                #main > section.one {
                    background-color: #81918E;
                    background-image: url("../../images/banner.jpg");
                }
    
                #main > section.two {
                    background-color: #f5fafa;
                }
    
                #main > section.three {
                    background-color: #ecf1f1;
                }
    
                #main > section.four {
                    background-color: #e8edec;
                }
    
    /* Wide */
    
        @media screen and (min-width: 961px) and (max-width: 1880px) {
    
            /* Basic */
    
                body, input, textarea, select {
                    font-size: 17pt;
                }
    
            /* Header */
    
                #header {
                    width: 300px;
                }
    
            /* Footer */
    
                #footer {
                    margin-left: 300px;
                }
    
            /* Main */
    
                #main {
                    margin-left: 300px;
                }
    
        }
    
    /* Normal */
    
        @media screen and (min-width: 961px) and (max-width: 1620px) {
    
            /* Main */
    
                #main > section {
                    padding: 3em 0;
                }
    
                #main section.cover {
                    padding: 5em 0;
                }
    
        }
    